#header {

  background-image: url("../img/36d71-27.jpg");
  margin-top: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  margin: auto;
  background-origin: border-box;
  height: 70rem;
  padding-top: 18px;
  width: 100%;
  
  
  //  .nav-content{
    //  padding:$la
    .text-box {
      // text-align: center;
    margin-top: 15%;
    margin-left: 10%;
    // height: 7rem;
    background-color: transparent;
    padding-top: 1rem;
    padding-left: $padding-large * 2;
    color: $color-white;
  }

    .buy-now{
      transition: 2s ease-in-out;
      animation-name: moveFromBottom;
      animation-duration: 2s;
      animation-direction: alternate;
      height:100%;
      margin-left: 10rem;

    
     
    }
  }

  .heading-primary-main {
    color: $color-secondary;
    font-weight: 700;
    font-size: 10rem;
    // height: 51 px;
    font-family: "Dancing Script", cursive;
    text-align: left;
    letter-spacing: 9px;
    margin-bottom: 6rem;
    

    transition: 1s ease-in;
    animation-name: moveInLeft;
    animation-duration:3s ;
  }
  .heading-primary-sub {
    width: 400px;
    font-family: "poopins";
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.5px;
    animation-name:moveInLeft;
    animation-duration:6s ;
    animation-timing-function: ease-in-out;
    margin-top: 10px;
    margin-bottom: 3rem;
  }

  //   {
  //         display:inline;
  //         float:right;
  //     }

  //     .dropdown{

