// colors

$color-primary:rgb(145, 119, 88);
$color-white:white;
$color-transparent:transparent;
$color-secondary:#f5e7c3;
$color-darkgrey:  #868e96;
$dark-brown:#212529;
$unvisible-color:rgba(0,0,0,.1);
$light-brown:#424242;
$color-quotes:#9E9E9E;
$color-main:#212121;
$color-primary-dark:#6A5D4D;

// padding
$padding-small:1rem;
$padding-large:3rem;

