 @keyframes moveInLeft{
    0%{
        opacity:0;
        transform :traslate(-100px);

    }
    100%{
        opacity:1;
        transform :traslate(0);
    }
}

@keyframes moveFromBottom{
    0%{
        opacity:0;
        transform:translate(-100px)
    }
    100%{
        opacity:1;
        transform:translate(0)
    }
    }
    @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
        }


// @keyframes multipyAnimation
// {
    // animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);

// }