.container{
    width:75%;
   //  display:block;
   margin:0 auto;
}


.text-center {
    text-align: center;
}

.my-5 {
    margin: 2rem 0;
}

.padding
{
    padding:3rem 0;
}

.background-dark
{
background-color:$dark-brown;
}
.background-light{
    background-color:$color-primary; 
}

.h
    {
       color: $color-white;
    }
    .p
    {
        font-size: 1.3rem;
        color:$color-quotes;
        line-height: 2.3rem;    }
        .width50{
            width:50%;
        }
        .margin-auto{
            margin: 0 auto;
        }